In [1]:
import pandas as pd
import data_processing as data_processing

ModuleNotFoundError: No module named 'data_processing'

In [15]:
df = pd.read_csv('/Users/a/Documents/Automation/Exception_Visibility/Dashboard/data/week_details.csv')

In [19]:
df.Date = pd.to_datetime(df.Date)
df.Date

0      2021-01-05
1      2021-02-05
2      2021-03-05
3      2021-04-05
4      2021-05-05
          ...
1336   2024-12-27
1337   2024-12-28
1338   2024-12-29
1339   2024-12-30
1340   2024-12-31
Name: Date, Length: 1341, dtype: datetime64[ns]

In [9]:
df.pivot_table(index='rc_received_date',values='orphan_count',aggfunc=sum).reset_index()

   rc_received_date  orphan_count
0          13/08/20            50
1          14/08/20           170
2          15/08/20            82
3          16/08/20           189
4          17/08/20           403
5          18/08/20           578
6          19/08/20           724
7          20/08/20           989
8          21/08/20           785
9          22/08/20           156
10         23/08/20           168
11         24/08/20           525
12         25/08/20          1094
13         26/08/20          1234
14         27/08/20           294

In [8]:
df

,rc_received_date,rc_name,received_by,orphan_id_condition,fsn_identified_warehouse,wsn_id,final_area_rc,business_unit,packaging_condition,orphan_count
0,13/08/20,Bhiwandi BTS,snehal.nishkul@flipkart.com,No Issue & Scannable,No,(blank),(blank),Lifestyle,Non-Damaged,1
1,13/08/20,Binola,mukesh.dharam@flipkart.com,Missing,Yes,05YXLK_L,Store,(blank),(blank),1
2,13/08/20,Binola,mukesh.dharam@flipkart.com,Missing,Yes,0ANCKQ_C,Store,(blank),(blank),1
3,13/08/20,Binola,mukesh.dharam@flipkart.com,Missing,Yes,0B2FI8_T,Store,(blank),(blank),1
4,13/08/20,Binola,mukesh.dharam@flipkart.com,Missing,Yes,0C2MIH_J,Store,(blank),(blank),1
...,...,...,...,...,...,...,...,...,...,...
1391,27/08/20,Malur BTS,narayanaswamy.m@flipkart.com,Not Scannable,No,(blank),(blank),BGM,Product Damaged,2
1392,27/08/20,Malur BTS,narayanaswamy.m@flipkart.com,Not Scannable,No,(blank),(blank),Home,Product Damaged,1
1393,27/08/20,Malur BTS,narayanaswamy.m@flipkart.com,Not Scannable,No,(blank),(blank),Lifestyle,Non-Damaged,4
1394,27/08/20,Malur BTS,narayanaswamy.m@flipkart.com,Not Scannable,No,(blank),(blank),Lifestyle,Product Damaged,1
1395,27/08/20,Ulub BTS,narayanaswamy.m@flipkart.com,Missing,No,(blank),(blank),BGM,Non-Damaged,1